// Created by Nikolay Werner
// Email: mail@nikolaywerner.ru

// License: none (public domain)

@mixin box-sizing($boxsizingproperty) {
	-webkit-box-sizing: $boxsizingproperty;
	   -moz-box-sizing: $boxsizingproperty;
			box-sizing: $boxsizingproperty;
}
@mixin transition($transitionproperty) {
	-webkit-transition: $transitionproperty;
	   -moz-transition: $transitionproperty;
	    -ms-transition: $transitionproperty;
		 -o-transition: $transitionproperty;
			transition: $transitionproperty;
}
@mixin border-radius($borderradiusproperty) {
	-webkit-border-radius: $borderradiusproperty;
	   -moz-border-radius: $borderradiusproperty;
			border-radius: $borderradiusproperty;
}
@mixin transform($transformproperties) {
	-webkit-transform: $transformproperties;
	   -moz-transform: $transformproperties;
	 	 -o-transform: $transformproperties;
			transform: $transformproperties;
}
@mixin box-shadow($boxshadowproperties) {
	-webkit-box-shadow: $boxshadowproperties;
			box-shadow: $boxshadowproperties;
}
@mixin text-shadow($boxshadowproperties) {
	-webkit-text-shadow: $boxshadowproperties;
	   -moz-text-shadow: $boxshadowproperties;
			text-shadow: $boxshadowproperties;
}
@mixin opacity($opacityproperties) {
	-moz-opacity: $opacityproperties;
	   	 opacity: $opacityproperties;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}
@mixin flex-direction($fldirvalue) {
	-webkit-flex-direction: $fldirvalue;
			flex-direction: $fldirvalue;
}
@mixin flex-wrap($flwrapvalue) {
	-webkit-flex-wrap: $flwrapvalue;
			flex-wrap: $flwrapvalue;
}
@mixin justify-content($jcvalue) {
	-webkit-justify-content: $jcvalue;
			justify-content: $jcvalue;
}